@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

body, html {
    height: 100%;
    margin: 0;
    color: #777;
    font: 400 15px/2.0 "Montserrat", sans-serif;
    scroll-behaviour: smooth;
}

h1 {
    /* color: white; */
    font-family: 'Montserrat', sans-serif;
    /* background-color: dodgerblue; opacity: 0.8; */
    /* border-left: 10px solid slateblue; */
    text-align: center;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin: 10px;
}
  
.bg { 
/* The image used */
background-image: url("wall-1.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.bgimg-1 {
background-image: url("wall-1.jpg");
height: 100%;
}
  

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    /* font-family: 'Montserrat', sans-serif; */
    /* padding: 12px; */
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 15px;
    margin: -3px;
    font-size: 25px;
    letter-spacing: 8px;
}
    
