@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Karla|Montserrat');

body {
    background-color: white;
}

h1 {
    /* color: white; */
    font-family: 'Montserrat', sans-serif;
    /* background-color: dodgerblue; opacity: 0.8; */
    /* border-left: 10px solid slateblue; */
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}


p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

li {
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.course-text {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
  position: sticky;
}

.menuitem {
  float: left;
}

li a {
  display: block;
  color: #777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4376DE;
  color: white;
}
